@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
}

.active{
  color: #3575E2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

/* Login- button  hover  */
/* LoginButton.css */
/* Add this CSS for the login button transition effect */

.login-btn {
  border: 1px solid #3575E2;
  color: #3575E2;
  text-decoration: none;
  /* transition: background-color 0.3s, color 0.3s; */
  position: relative;
  overflow: hidden;
}

.login-btn::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: #3575E2;
  /* transition: left 0.3s ease; */
}

.login-btn:hover {
  color: #fff;
  background-color: #3575E2;
   /* left: -10%; */
   /* width: 100%; */
   height: 100%;
   /* transition: left 0.3s ease; */
}

.login-btn:hover::before {
  left: 0;
}


/* card for jobs */
/* Base styles for .single-job-items */
.single-job-items {
  padding: 36px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.4s;
}

/* Media queries for smaller screen sizes */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items {
    padding: 20px 7px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-job-items {
    padding: 20px 25px;
  }
}

/* Specific styling for .single-job-items .company-img img */
.single-job-items .company-img img {
  overflow: hidden;
  float: left;
  margin-right: 32px;
  z-index: 999;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .single-job-items .job-tittle {
    padding-top: 25px;
  }
}

/* Styling for job title links */
.single-job-items .job-tittle a h4 {
  color: #28395a;
  font-size: 24px;
  transition: 0.4s;
}

.single-job-items .job-tittle a h4:hover {
  color: #8b92dd;
}

/* Styling for job title list items */
.single-job-items .job-tittle ul li {
  display: inline-block;
  margin-right: 48px;
  font-size: 15px;
  color: #808080;
  line-height: 1.8;
}

/* Media queries for different screen sizes */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items .job-tittle ul li {
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .single-job-items .job-tittle ul li {
    margin-right: 0px;
    margin-bottom: 7px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-job-items .job-tittle ul li {
    margin-right: 8px;
  }
}

.single-job-items .job-tittle ul li:last-child {
  margin-right: 0px;
}

/* Styling when hovering over .single-job-items */
.single-job-items:hover {
  box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05);
}

/* Additional styling for .job-items */
.single-job-items .job-items {
  display: flex;
  flex-wrap: wrap;
}

/* Styling for .items-link */
.items-link {
  padding-top: 35px;
  text-align: center;
}

.items-link a {
  color: #3575E2;
  display: block;
  border: 1px solid #8b92dd;
  border-radius: 30px;
  padding: 4px 33px;
  text-align: center;
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .items-link a {
    padding: 4px 19px;
  }
}

.items-link a:hover {
  color: #fff;
  background: #3575E2;
  border: 1px solid transparent;
}

.items-link span {
  color: #3575E2;
  display: block;
}

/* Media query for larger screen sizes */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .items-link2 {
    padding-top: 35px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .items-link2 {
    padding-top: 35px;
    text-align: center;
  }
}


/* jobs page */

.image-logo{
   height: 100px;
   width :100px;
}

.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
}


.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}

.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}



/* create a job page */

.create-job-flex{
  @apply flex flex-col lg:flex-row items-center justify-between gap-8;
}

.create-job-input{
  @apply block w-full flex-1 bg-white py-1.5 pl-3 text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm sm:leading-6
}

/* Login Page */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background:#eee;
}